{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 2, // Remember, this means error!
    "prettier/prettier": 2 // Means error
  },
  "settings": {
    "sharedData": "Hello",
    "react": {
      "version": "detect" // React version. "detect" automatically picks the version you have installed.
    }
  }
}
